In [1]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import ta
from ta.volume import VolumeWeightedAveragePrice
from ta.trend import SMAIndicator
from ta.trend import EMAIndicator
from ta.volatility import AverageTrueRange
import time
import datetime
from datetime import date
from datetime import timedelta
from nsepy import get_history
import yfinance as yf
import math

In [2]:
#Getting the list of tickers
df=pd.read_excel('Financial_Stocks.xlsx', header= 0)
Tickers = df["Symbol"]
Tickers = Tickers.astype(str) + ".NS"

In [3]:
Bank_Nifty = pd.read_excel('CMIE_Bank_Nifty.xlsx', header= 0)

In [4]:
def Add_Indicators(Data):
    EMA8  = EMAIndicator(close = Data["Close"], window = 8, fillna = True)
    EMA13  = EMAIndicator(close = Data["Close"], window = 13, fillna = True)
    EMA21  = EMAIndicator(close = Data["Close"], window = 21, fillna = True)
    EMA34 = EMAIndicator(close = Data["Close"], window = 34, fillna = True)
    EMA55 = EMAIndicator(close = Data["Close"], window = 55, fillna = True)
    EMA89  = EMAIndicator(close = Data["Close"], window = 89, fillna = True)
    EMA144  = EMAIndicator(close = Data["Close"], window = 144, fillna = True)
    EMA233  = EMAIndicator(close = Data["Close"], window = 233, fillna = True)


    Data["EMA8"]  = EMA8.ema_indicator()
    Data["EMA13"]  = EMA13.ema_indicator()
    Data["EMA21"]  = EMA21.ema_indicator()
    Data["EMA34"] = EMA34.ema_indicator()
    Data["EMA55"] = EMA55.ema_indicator()
    Data["EMA89"]  = EMA89.ema_indicator()
    Data["EMA144"]  = EMA144.ema_indicator()
    Data["EMA233"]  = EMA233.ema_indicator()

    return Data

In [5]:
Tickers = list(Tickers)

In [6]:
len(Tickers)

29

In [7]:
#Start Date for the analysis
start_date = date(2010,1,1)
end_date = "2021-07-24"
today = datetime.datetime.today()

In [8]:
Data = yf.download(Tickers, start=start_date, end = today, interval= "1wk", threads =True, group_by = "ticker")

[*********************100%***********************]  29 of 29 completed

In [9]:
Data

           UJJIVANSFB.NS                                              \
                    Open       High        Low      Close  Adj Close
Date
2009-12-28           NaN        NaN        NaN        NaN        NaN
2010-01-04           NaN        NaN        NaN        NaN        NaN
2010-01-11           NaN        NaN        NaN        NaN        NaN
2010-01-18           NaN        NaN        NaN        NaN        NaN
2010-01-25           NaN        NaN        NaN        NaN        NaN
...                  ...        ...        ...        ...        ...
2021-07-23           NaN        NaN        NaN        NaN        NaN
2021-07-26     29.299999  29.850000  28.750000  28.799999  28.799999
2021-07-29           NaN        NaN        NaN        NaN        NaN
2021-08-02     28.950001  28.950001  27.299999  27.350000  27.350000
2021-08-06     27.700001  27.900000  27.299999  27.350000  27.350000

                       IDFCFIRSTB.NS                                   ...  \
                Volume          Open       High        Low      Close  ...
Date                                                                   ...
2009-12-28         NaN           NaN        NaN        NaN        NaN  ...
2010-01-04         NaN           NaN        NaN        NaN        NaN  ...
2010-01-11         NaN           NaN        NaN        NaN        NaN  ...
2010-01-18         NaN           NaN        NaN        NaN        NaN  ...
2010-01-25         NaN           NaN        NaN        NaN        NaN  ...
...                ...           ...        ...        ...        ...  ...
2021-07-23         NaN           NaN        NaN        NaN        NaN  ...
2021-07-26  10597177.0     51.150002  52.500000  50.000000  52.000000  ...
2021-07-29         NaN           NaN        NaN        NaN        NaN  ...
2021-08-02  12838145.0     48.650002  52.099998  46.000000  49.200001  ...
2021-08-06   2506017.0     48.599998  49.549999  48.099998  49.200001  ...

               IDBI.NS                                         SBIN.NS  \
                   Low       Close   Adj Close      Volume        Open
Date
2009-12-28  127.400002  127.400002  106.154999         0.0  226.899994
2010-01-04  115.199997  131.850006  109.862915  21410122.0  227.500000
2010-01-11  129.600006  133.000000  110.821144  30370217.0  229.699997
2010-01-18  118.550003  121.300003  101.072212  23322087.0  217.500000
2010-01-25  111.500000  121.199997  100.988892  20516725.0  205.554993
...                ...         ...         ...         ...         ...
2021-07-23         NaN         NaN         NaN         NaN         NaN
2021-07-26   37.250000   37.950001   37.950001  53656323.0  427.799988
2021-07-29         NaN         NaN         NaN         NaN         NaN
2021-08-02   37.049999   37.549999   37.549999  30966381.0  434.750000
2021-08-06   37.200001   37.549999   37.549999   4827725.0  443.700012


                  High         Low       Close   Adj Close       Volume
Date
2009-12-28  226.899994  226.899994  226.899994  200.670395          0.0
2010-01-04  231.500000  227.500000  228.604996  202.178329   56203470.0
2010-01-11  231.270004  213.679993  214.335007  189.557938  100118660.0
2010-01-18  218.699997  205.304993  208.735001  184.605316   94788610.0
2010-01-25  213.699997  195.505005  205.660004  181.885773  127886600.0
...                ...         ...         ...         ...          ...
2021-07-23         NaN         NaN         NaN         NaN          NaN
2021-07-26  444.399994  421.049988  431.799988  431.799988  126254072.0
2021-07-29         NaN         NaN         NaN         NaN          NaN
2021-08-02  467.450012  431.799988  435.649994  435.649994  284441850.0
2021-08-06  447.000000  434.000000  435.649994  435.649994   38221326.0

[740 rows x 174 columns]

In [10]:
Data["SBIN.NS"].isnull().sum()

Open         133
High         133
Low          133
Close        133
Adj Close    133
Volume       133
dtype: int64

In [11]:
for j in range(10):
    for ticker in Tickers:
        if(Data[ticker]["Close"].isna().sum() > 200):
            Data = Data.drop(ticker, axis = 1)
            Tickers.remove(ticker)

In [12]:
Data

                IOB.NS                                                 \
                  Open        High         Low       Close  Adj Close
Date
2009-12-28  110.599998  110.599998  110.599998  110.599998  92.262596
2010-01-04  112.000000  116.400002  111.699997  114.349998  95.390846
2010-01-11  114.599998  115.800003  109.099998  110.300003  92.012337
2010-01-18  110.000000  115.800003  103.199997  106.550003  88.884079
2010-01-25  104.199997  113.900002   88.199997   91.949997  76.704742
...                ...         ...         ...         ...        ...
2021-07-23         NaN         NaN         NaN         NaN        NaN
2021-07-26   25.750000   25.750000   24.100000   24.450001  24.450001
2021-07-29         NaN         NaN         NaN         NaN        NaN
2021-08-02   24.650000   24.750000   21.549999   21.700001  21.700001
2021-08-06   22.299999   22.700001   21.549999   21.700001  21.700001

                        DCBBANK.NS                                      ...  \
                Volume        Open        High         Low       Close  ...
Date                                                                    ...
2009-12-28         0.0   34.849998   34.849998   34.849998   34.849998  ...
2010-01-04   3002438.0   35.599998   37.900002   34.450001   37.049999  ...
2010-01-11   4086945.0   37.500000   40.700001   34.849998   38.799999  ...
2010-01-18   9237790.0   38.500000   42.400002   37.150002   39.950001  ...
2010-01-25  10376368.0   40.000000   40.349998   32.200001   35.950001  ...
...                ...         ...         ...         ...         ...  ...
2021-07-23         NaN         NaN         NaN         NaN         NaN  ...
2021-07-26  38769860.0  104.650002  105.699997  101.550003  105.000000  ...
2021-07-29         NaN         NaN         NaN         NaN         NaN  ...
2021-08-02  58902265.0  105.800003  106.000000   94.300003   96.250000  ...
2021-08-06  10494967.0   94.949997   97.599998   94.300003   96.250000  ...

               IDBI.NS                                         SBIN.NS  \
                   Low       Close   Adj Close      Volume        Open
Date
2009-12-28  127.400002  127.400002  106.154999         0.0  226.899994
2010-01-04  115.199997  131.850006  109.862915  21410122.0  227.500000
2010-01-11  129.600006  133.000000  110.821144  30370217.0  229.699997
2010-01-18  118.550003  121.300003  101.072212  23322087.0  217.500000
2010-01-25  111.500000  121.199997  100.988892  20516725.0  205.554993
...                ...         ...         ...         ...         ...
2021-07-23         NaN         NaN         NaN         NaN         NaN
2021-07-26   37.250000   37.950001   37.950001  53656323.0  427.799988
2021-07-29         NaN         NaN         NaN         NaN         NaN
2021-08-02   37.049999   37.549999   37.549999  30966381.0  434.750000
2021-08-06   37.200001   37.549999   37.549999   4827725.0  443.700012


                  High         Low       Close   Adj Close       Volume
Date
2009-12-28  226.899994  226.899994  226.899994  200.670395          0.0
2010-01-04  231.500000  227.500000  228.604996  202.178329   56203470.0
2010-01-11  231.270004  213.679993  214.335007  189.557938  100118660.0
2010-01-18  218.699997  205.304993  208.735001  184.605316   94788610.0
2010-01-25  213.699997  195.505005  205.660004  181.885773  127886600.0
...                ...         ...         ...         ...          ...
2021-07-23         NaN         NaN         NaN         NaN          NaN
2021-07-26  444.399994  421.049988  431.799988  431.799988  126254072.0
2021-07-29         NaN         NaN         NaN         NaN          NaN
2021-08-02  467.450012  431.799988  435.649994  435.649994  284441850.0
2021-08-06  447.000000  434.000000  435.649994  435.649994   38221326.0

[740 rows x 132 columns]

In [13]:
Data["SBIN.NS"].isnull().sum()

Open         133
High         133
Low          133
Close        133
Adj Close    133
Volume       133
dtype: int64

In [14]:
Data

                IOB.NS                                                 \
                  Open        High         Low       Close  Adj Close
Date
2009-12-28  110.599998  110.599998  110.599998  110.599998  92.262596
2010-01-04  112.000000  116.400002  111.699997  114.349998  95.390846
2010-01-11  114.599998  115.800003  109.099998  110.300003  92.012337
2010-01-18  110.000000  115.800003  103.199997  106.550003  88.884079
2010-01-25  104.199997  113.900002   88.199997   91.949997  76.704742
...                ...         ...         ...         ...        ...
2021-07-23         NaN         NaN         NaN         NaN        NaN
2021-07-26   25.750000   25.750000   24.100000   24.450001  24.450001
2021-07-29         NaN         NaN         NaN         NaN        NaN
2021-08-02   24.650000   24.750000   21.549999   21.700001  21.700001
2021-08-06   22.299999   22.700001   21.549999   21.700001  21.700001

                        DCBBANK.NS                                      ...  \
                Volume        Open        High         Low       Close  ...
Date                                                                    ...
2009-12-28         0.0   34.849998   34.849998   34.849998   34.849998  ...
2010-01-04   3002438.0   35.599998   37.900002   34.450001   37.049999  ...
2010-01-11   4086945.0   37.500000   40.700001   34.849998   38.799999  ...
2010-01-18   9237790.0   38.500000   42.400002   37.150002   39.950001  ...
2010-01-25  10376368.0   40.000000   40.349998   32.200001   35.950001  ...
...                ...         ...         ...         ...         ...  ...
2021-07-23         NaN         NaN         NaN         NaN         NaN  ...
2021-07-26  38769860.0  104.650002  105.699997  101.550003  105.000000  ...
2021-07-29         NaN         NaN         NaN         NaN         NaN  ...
2021-08-02  58902265.0  105.800003  106.000000   94.300003   96.250000  ...
2021-08-06  10494967.0   94.949997   97.599998   94.300003   96.250000  ...

               IDBI.NS                                         SBIN.NS  \
                   Low       Close   Adj Close      Volume        Open
Date
2009-12-28  127.400002  127.400002  106.154999         0.0  226.899994
2010-01-04  115.199997  131.850006  109.862915  21410122.0  227.500000
2010-01-11  129.600006  133.000000  110.821144  30370217.0  229.699997
2010-01-18  118.550003  121.300003  101.072212  23322087.0  217.500000
2010-01-25  111.500000  121.199997  100.988892  20516725.0  205.554993
...                ...         ...         ...         ...         ...
2021-07-23         NaN         NaN         NaN         NaN         NaN
2021-07-26   37.250000   37.950001   37.950001  53656323.0  427.799988
2021-07-29         NaN         NaN         NaN         NaN         NaN
2021-08-02   37.049999   37.549999   37.549999  30966381.0  434.750000
2021-08-06   37.200001   37.549999   37.549999   4827725.0  443.700012


                  High         Low       Close   Adj Close       Volume
Date
2009-12-28  226.899994  226.899994  226.899994  200.670395          0.0
2010-01-04  231.500000  227.500000  228.604996  202.178329   56203470.0
2010-01-11  231.270004  213.679993  214.335007  189.557938  100118660.0
2010-01-18  218.699997  205.304993  208.735001  184.605316   94788610.0
2010-01-25  213.699997  195.505005  205.660004  181.885773  127886600.0
...                ...         ...         ...         ...          ...
2021-07-23         NaN         NaN         NaN         NaN          NaN
2021-07-26  444.399994  421.049988  431.799988  431.799988  126254072.0
2021-07-29         NaN         NaN         NaN         NaN          NaN
2021-08-02  467.450012  431.799988  435.649994  435.649994  284441850.0
2021-08-06  447.000000  434.000000  435.649994  435.649994   38221326.0

[740 rows x 132 columns]

In [15]:
Drop_List = np.array([])
i = 0
while(i < Data.shape[0]-2):
    if(Data.index[i+1] != Data.index[i] + timedelta(days =7)):
        Data = Data.drop(Data.index[i+1], axis = 0)
        continue
    i = i + 1

In [16]:
Data

                IOB.NS                                                 \
                  Open        High         Low       Close  Adj Close
Date
2009-12-28  110.599998  110.599998  110.599998  110.599998  92.262596
2010-01-04  112.000000  116.400002  111.699997  114.349998  95.390846
2010-01-11  114.599998  115.800003  109.099998  110.300003  92.012337
2010-01-18  110.000000  115.800003  103.199997  106.550003  88.884079
2010-01-25  104.199997  113.900002   88.199997   91.949997  76.704742
...                ...         ...         ...         ...        ...
2021-07-12   26.350000   27.200001   24.900000   25.250000  25.250000
2021-07-19   24.950001   26.299999   23.150000   25.750000  25.750000
2021-07-26   25.750000   25.750000   24.100000   24.450001  24.450001
2021-08-02   24.650000   24.750000   21.549999   21.700001  21.700001
2021-08-06   22.299999   22.700001   21.549999   21.700001  21.700001

                        DCBBANK.NS                                      ...  \
                Volume        Open        High         Low       Close  ...
Date                                                                    ...
2009-12-28         0.0   34.849998   34.849998   34.849998   34.849998  ...
2010-01-04   3002438.0   35.599998   37.900002   34.450001   37.049999  ...
2010-01-11   4086945.0   37.500000   40.700001   34.849998   38.799999  ...
2010-01-18   9237790.0   38.500000   42.400002   37.150002   39.950001  ...
2010-01-25  10376368.0   40.000000   40.349998   32.200001   35.950001  ...
...                ...         ...         ...         ...         ...  ...
2021-07-12  58674909.0  104.500000  113.000000  104.150002  108.349998  ...
2021-07-19  69204486.0  108.900002  108.900002  103.000000  104.050003  ...
2021-07-26  38769860.0  104.650002  105.699997  101.550003  105.000000  ...
2021-08-02  58902265.0  105.800003  106.000000   94.300003   96.250000  ...
2021-08-06  10494967.0   94.949997   97.599998   94.300003   96.250000  ...

               IDBI.NS                                         SBIN.NS  \
                   Low       Close   Adj Close      Volume        Open
Date
2009-12-28  127.400002  127.400002  106.154999         0.0  226.899994
2010-01-04  115.199997  131.850006  109.862915  21410122.0  227.500000
2010-01-11  129.600006  133.000000  110.821144  30370217.0  229.699997
2010-01-18  118.550003  121.300003  101.072212  23322087.0  217.500000
2010-01-25  111.500000  121.199997  100.988892  20516725.0  205.554993
...                ...         ...         ...         ...         ...
2021-07-12   37.700001   37.799999   37.799999  41321311.0  426.500000
2021-07-19   37.299999   37.450001   37.450001  22752672.0  423.399994
2021-07-26   37.250000   37.950001   37.950001  53656323.0  427.799988
2021-08-02   37.049999   37.549999   37.549999  30966381.0  434.750000
2021-08-06   37.200001   37.549999   37.549999   4827725.0  443.700012


                  High         Low       Close   Adj Close       Volume
Date
2009-12-28  226.899994  226.899994  226.899994  200.670395          0.0
2010-01-04  231.500000  227.500000  228.604996  202.178329   56203470.0
2010-01-11  231.270004  213.679993  214.335007  189.557938  100118660.0
2010-01-18  218.699997  205.304993  208.735001  184.605316   94788610.0
2010-01-25  213.699997  195.505005  205.660004  181.885773  127886600.0
...                ...         ...         ...         ...          ...
2021-07-12  432.950012  424.600006  430.000000  430.000000   58229852.0
2021-07-19  429.950012  418.850006  428.899994  428.899994   58554429.0
2021-07-26  444.399994  421.049988  431.799988  431.799988  126254072.0
2021-08-02  467.450012  431.799988  435.649994  435.649994  284441850.0
2021-08-06  447.000000  434.000000  435.649994  435.649994   38221326.0

[607 rows x 132 columns]

In [17]:
Data["AXISBANK.NS"].isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [18]:
Data.isnull().sum().sum()

0

In [19]:
len(Tickers)

22

In [20]:
%%time
Features = pd.DataFrame()
Dates= np.array([])
FivePercent= np.array([])
EightPercent= np.array([])
ThirteenPercent= np.array([])
AdvancedRatio= np.array([])
Declining= np.array([])
frac_EMA8 = np.array([])
frac_EMA13 = np.array([])
frac_EMA21 = np.array([])
frac_EMA34 = np.array([])
frac_EMA55 = np.array([])
frac_EMA89 = np.array([])
frac_EMA144 = np.array([])
frac_EMA233 = np.array([])

for i in range(1, Data.shape[0]):
    winners = 1
    losers = 1
    Per_5 = 1
    Per_8 = 1
    Per_13 = 1
    AD_Ratio = 1

    f_EMA8 = 0
    f_EMA13 = 0
    f_EMA21 = 0
    f_EMA34 = 0
    f_EMA55 = 0
    f_EMA89 = 0
    f_EMA144 = 0
    f_EMA233 = 0
    for ticker in Tickers:
        if(math.isnan(Data[ticker]["Close"][i]) != True):

            temp = Data[ticker]
            temp = Add_Indicators(temp)
            temp = temp[temp.index == Data[ticker].index[i]]

            if(temp["Close"][0] > temp["EMA8"][0]):
                f_EMA8 = f_EMA8 +  1

            if(temp["Close"][0] > temp["EMA13"][0]):
                f_EMA13 = f_EMA13 +  1

            if(temp["Close"][0] > temp["EMA21"][0]):
                f_EMA21 = f_EMA21 +  1

            if(temp["Close"][0] > temp["EMA34"][0]):
                f_EMA34 = f_EMA34 +  1

            if(temp["Close"][0] > temp["EMA55"][0]):
                f_EMA55 = f_EMA55 +  1

            if(temp["Close"][0] > temp["EMA89"][0]):
                f_EMA89 = f_EMA89 +  1

            if(temp["Close"][0] > temp["EMA144"][0]):
                f_EMA144 = f_EMA144 +  1

            if(temp["Close"][0] > temp["EMA233"][0]):
                f_EMA233 = f_EMA233 +  1


            if(Data[ticker]["Close"][i] >= Data[ticker]["Close"][i-1]):
                winners = winners + 1
                if((Data[ticker]["Close"][i] - Data[ticker]["Close"][i-1])/Data[ticker]["Close"][i-1] >= 0.05):
                    if((Data[ticker]["Close"][i] - Data[ticker]["Close"][i-1])/Data[ticker]["Close"][i-1] >= 0.08):
                        if((Data[ticker]["Close"][i] - Data[ticker]["Close"][i-1])/Data[ticker]["Close"][i-1] >= 0.13):
                            Per_13 = Per_13 + 1
                            continue
                        Per_8 = Per_8 + 1
                        continue        
                    Per_5 = Per_5 + 1
                    continue       
                           
            if(Data[ticker]["Close"][i] < Data[ticker]["Close"][i-1]):
                losers = losers + 1
                
    AD_Ratio = winners/losers
    Per_5  = Per_5/(winners + losers)
    Per_8  = Per_8/(winners + losers) 
    Per_13 = Per_13/(winners + losers)

    f_EMA8   = f_EMA8/(winners + losers)
    f_EMA13  = f_EMA13/(winners + losers)
    f_EMA21  = f_EMA21/(winners + losers)
    f_EMA34  = f_EMA34/(winners + losers)
    f_EMA55  = f_EMA55/(winners + losers)
    f_EMA89  = f_EMA89/(winners + losers)
    f_EMA144 = f_EMA144/(winners + losers)
    f_EMA233 = f_EMA233/(winners + losers)

    Dates= np.append(Dates, Data.index[i])
    FivePercent= np.append(FivePercent, Per_5)
    EightPercent= np.append(EightPercent, Per_8)
    ThirteenPercent= np.append(ThirteenPercent, Per_13)
    AdvancedRatio= np.append(AdvancedRatio, AD_Ratio)
    Declining= np.append(Declining, losers)

    frac_EMA8 = np.append(frac_EMA8, f_EMA8)
    frac_EMA13 = np.append(frac_EMA13, f_EMA13)
    frac_EMA21 = np.append(frac_EMA21, f_EMA21)
    frac_EMA34 = np.append(frac_EMA34, f_EMA34)
    frac_EMA55 = np.append(frac_EMA55, f_EMA55)
    frac_EMA89 = np.append(frac_EMA89, f_EMA89)
    frac_EMA144 = np.append(frac_EMA144, f_EMA144)
    frac_EMA233 = np.append(frac_EMA233, f_EMA233)
    


Features["Date"] = Dates
Features["AD_Ratio"] = AdvancedRatio
Features["5%_Up"] = FivePercent
Features["8%_Up"] = EightPercent
Features["13%_Up"] = ThirteenPercent
Features["Down"] = Declining
Features["Frac_EMA8"]   = frac_EMA8
Features["Frac_EMA13"]  = frac_EMA13
Features["Frac_EMA21"]  = frac_EMA21
Features["Frac_EMA34"]  = frac_EMA34
Features["Frac_EMA55"]  = frac_EMA55
Features["Frac_EMA89"]  = frac_EMA89
Features["Frac_EMA144"] = frac_EMA144
Features["Frac_EMA233"] = frac_EMA233

<ipython-input-4-cab7c2579e92>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA8"]  = EMA8.ema_indicator()
<ipython-input-4-cab7c2579e92>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA13"]  = EMA13.ema_indicator()
<ipython-input-4-cab7c2579e92>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA21"]  = EMA21.ema_indicator()
<ipython-input-4-cab7c2579e92>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA34"] = EMA34.ema_indicator()
<ipython-input-4-cab7c2579e92>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA55"] = EMA55.ema_indicator()
<ipython-input-4-cab7c2579e92>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA89"]  = EMA89.ema_indicator()
<ipython-input-4-cab7c2579e92>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA144"]  = EMA144.ema_indicator()
<ipython-input-4-cab7c2579e92>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA233"]  = EMA233.ema_indicator()

Wall time: 3min 22s

In [21]:
Features.describe()

,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,Frac_EMA55,Frac_EMA89,Frac_EMA144,Frac_EMA233
count,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,3.091705,0.115099,0.077558,0.060162,11.866337,0.485286,0.489274,0.490099,0.491887,0.490649,0.490099,0.494843,0.506532
std,5.329579,0.095553,0.067257,0.059159,6.739077,0.295631,0.291109,0.282444,0.271383,0.248823,0.226513,0.207676,0.184078
min,0.043478,0.041667,0.041667,0.041667,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.333333,0.041667,0.041667,0.041667,6.000000,0.208333,0.250000,0.250000,0.291667,0.291667,0.333333,0.333333,0.375000
50%,1.000000,0.083333,0.041667,0.041667,12.000000,0.500000,0.500000,0.479167,0.458333,0.458333,0.458333,0.458333,0.500000
75%,3.000000,0.166667,0.083333,0.041667,18.000000,0.750000,0.750000,0.750000,0.750000,0.708333,0.666667,0.666667,0.625000
max,23.000000,0.500000,0.458333,0.625000,23.000000,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667

In [22]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,Frac_EMA55,Frac_EMA89,Frac_EMA144,Frac_EMA233
0,2010-01-04,3.800000,0.208333,0.041667,0.041667,5.0,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000
1,2010-01-11,0.714286,0.166667,0.041667,0.041667,14.0,0.583333,0.583333,0.625000,0.625000,0.666667,0.666667,0.666667,0.666667
2,2010-01-18,0.714286,0.083333,0.083333,0.041667,14.0,0.416667,0.458333,0.458333,0.458333,0.541667,0.541667,0.541667,0.541667
3,2010-01-25,0.263158,0.083333,0.041667,0.041667,19.0,0.291667,0.375000,0.416667,0.416667,0.416667,0.416667,0.416667,0.416667
4,2010-02-01,0.090909,0.041667,0.041667,0.041667,22.0,0.166667,0.208333,0.208333,0.208333,0.208333,0.208333,0.250000,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2021-07-12,1.000000,0.041667,0.041667,0.041667,12.0,0.541667,0.625000,0.750000,0.833333,0.833333,0.708333,0.416667,0.416667
602,2021-07-19,0.263158,0.041667,0.041667,0.041667,19.0,0.250000,0.291667,0.625000,0.750000,0.791667,0.583333,0.416667,0.375000
603,2021-07-26,1.000000,0.041667,0.041667,0.041667,12.0,0.333333,0.500000,0.625000,0.708333,0.708333,0.625000,0.416667,0.375000
604,2021-08-02,0.846154,0.083333,0.041667,0.041667,13.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000
605,2021-08-06,23.000000,0.041667,0.041667,0.041667,1.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000

In [23]:
Data[Data["SBIN.NS"].index == Data["SBIN.NS"].index[1]]["SBIN.NS"]

             Open   High    Low       Close   Adj Close      Volume
Date
2010-01-04  227.5  231.5  227.5  228.604996  202.178329  56203470.0

In [24]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,Frac_EMA55,Frac_EMA89,Frac_EMA144,Frac_EMA233
0,2010-01-04,3.800000,0.208333,0.041667,0.041667,5.0,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000
1,2010-01-11,0.714286,0.166667,0.041667,0.041667,14.0,0.583333,0.583333,0.625000,0.625000,0.666667,0.666667,0.666667,0.666667
2,2010-01-18,0.714286,0.083333,0.083333,0.041667,14.0,0.416667,0.458333,0.458333,0.458333,0.541667,0.541667,0.541667,0.541667
3,2010-01-25,0.263158,0.083333,0.041667,0.041667,19.0,0.291667,0.375000,0.416667,0.416667,0.416667,0.416667,0.416667,0.416667
4,2010-02-01,0.090909,0.041667,0.041667,0.041667,22.0,0.166667,0.208333,0.208333,0.208333,0.208333,0.208333,0.250000,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2021-07-12,1.000000,0.041667,0.041667,0.041667,12.0,0.541667,0.625000,0.750000,0.833333,0.833333,0.708333,0.416667,0.416667
602,2021-07-19,0.263158,0.041667,0.041667,0.041667,19.0,0.250000,0.291667,0.625000,0.750000,0.791667,0.583333,0.416667,0.375000
603,2021-07-26,1.000000,0.041667,0.041667,0.041667,12.0,0.333333,0.500000,0.625000,0.708333,0.708333,0.625000,0.416667,0.375000
604,2021-08-02,0.846154,0.083333,0.041667,0.041667,13.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000
605,2021-08-06,23.000000,0.041667,0.041667,0.041667,1.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000

In [25]:
Vix = get_history(symbol="INDIA VIX", start=date(2010,1,1), end = today.date(), index = True)
Vix_Latest = Vix[Vix.index == Vix.index[-1]]
Vix = Vix.asfreq('W','pad')
Vix = pd.concat((Vix, Vix_Latest) )

In [26]:
Vix

                      Open   High    Low  Close  Volume  Turnover
Date
2010-07-25 00:00:00  18.90  19.72  17.14  19.24     NaN       NaN
2010-08-01 00:00:00  18.33  19.23  16.25  18.94     NaN       NaN
2010-08-08 00:00:00  17.71  17.71  16.63  17.37     NaN       NaN
2010-08-15 00:00:00  18.00  18.00  15.87  16.74     NaN       NaN
2010-08-22 00:00:00  16.53  16.87  15.29  16.70     NaN       NaN
...                    ...    ...    ...    ...     ...       ...
2021-07-11 00:00:00  13.56  14.00  12.18  12.94     NaN       NaN
2021-07-18 00:00:00  12.27  12.37  11.63  11.71     NaN       NaN
2021-07-25 00:00:00  11.89  12.12  11.57  11.76     NaN       NaN
2021-08-01 00:00:00  12.95  13.32  12.18  12.80     NaN       NaN
2021-08-06           12.87  13.16  11.64  12.61     NaN       NaN

[577 rows x 6 columns]

In [27]:
Features = Features[Features["Date"]>= Vix.index[0] - timedelta(days = 1)]
Features = Features.reset_index(drop = True)

In [28]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,Frac_EMA55,Frac_EMA89,Frac_EMA144,Frac_EMA233
0,2010-07-26,0.846154,0.083333,0.083333,0.041667,13.0,0.875000,0.875000,0.875000,0.875000,0.833333,0.833333,0.833333,0.833333
1,2010-08-02,2.428571,0.125000,0.083333,0.041667,7.0,0.833333,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000
2,2010-08-09,7.000000,0.291667,0.166667,0.041667,3.0,0.875000,0.916667,0.916667,0.916667,0.875000,0.875000,0.875000,0.875000
3,2010-08-16,3.800000,0.375000,0.250000,0.041667,5.0,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667
4,2010-08-23,0.200000,0.041667,0.041667,0.041667,20.0,0.875000,0.916667,0.916667,0.916667,0.875000,0.875000,0.875000,0.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2021-07-12,1.000000,0.041667,0.041667,0.041667,12.0,0.541667,0.625000,0.750000,0.833333,0.833333,0.708333,0.416667,0.416667
573,2021-07-19,0.263158,0.041667,0.041667,0.041667,19.0,0.250000,0.291667,0.625000,0.750000,0.791667,0.583333,0.416667,0.375000
574,2021-07-26,1.000000,0.041667,0.041667,0.041667,12.0,0.333333,0.500000,0.625000,0.708333,0.708333,0.625000,0.416667,0.375000
575,2021-08-02,0.846154,0.083333,0.041667,0.041667,13.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000
576,2021-08-06,23.000000,0.041667,0.041667,0.041667,1.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000

In [50]:

Vix.index = Features["Date"]
Nifty50 = yf.download("^NSEI", start= start_date, end = today, interval= "1wk", threads= True, group_by= "Ticker")
Nifty50 = Add_Indicators(Nifty50)
Nifty50 = Nifty50[Nifty50.index >= Features.Date[0]]

[*********************100%***********************]  1 of 1 completed

In [30]:
Bank_Nifty.shape

(604, 3)

In [31]:
Latest_Bank_Nifty = yf.download("^NSEBANK", start= start_date, end = today, interval= "1wk", threads= True, group_by= "Ticker")

[*********************100%***********************]  1 of 1 completed

In [32]:
Latest_Bank_Nifty

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-28,9029.500000,9029.500000,9029.500000,9029.500000,9029.500000,0
2010-01-04,9031.900391,9265.549805,9031.900391,9160.700195,9160.700195,0
2010-01-11,9209.150391,9248.000000,8836.700195,8911.099609,8911.099609,0
2010-01-18,8887.150391,9202.500000,8659.900391,8772.650391,8772.650391,0
2010-01-25,8724.799805,8751.200195,8294.599609,8651.549805,8651.549805,0
...,...,...,...,...,...,...
2021-07-12,35285.050781,35985.250000,35060.351562,35751.800781,35751.800781,0
2021-07-19,35070.500000,35347.050781,34357.351562,35034.398438,35034.398438,0
2021-07-26,34947.851562,35186.101562,34115.199219,34584.351562,34584.351562,0
2021-08-02,34760.898438,36219.800781,34588.250000,35809.250000,35809.250000,0
2021-08-06,35875.800781,36080.101562,35700.449219,35809.250000,35809.250000,0

In [33]:
Bank_Nifty.Date.iloc[-1]

Timestamp('2021-07-24 00:00:00')

In [34]:
Latest_Bank_Nifty = Latest_Bank_Nifty[Latest_Bank_Nifty.index > Bank_Nifty.Date.iloc[-1]]

In [35]:
Bank_Nifty

          Date      Attribute   Closing
0   2010-01-02  Index Closing   9029.50
1   2010-01-09  Index Closing   9160.70
2   2010-01-16  Index Closing   8911.10
3   2010-01-23  Index Closing   8772.65
4   2010-01-30  Index Closing   8651.55
..         ...            ...       ...
599 2021-06-26  Index Closing  35364.65
600 2021-07-03  Index Closing  34809.90
601 2021-07-10  Index Closing  35071.95
602 2021-07-17  Index Closing  35751.80
603 2021-07-24  Index Closing  35034.40

[604 rows x 3 columns]

In [36]:
new_date = np.array([])
new_attribute = np.array([])
new_closing = np.array([])

In [37]:
for i in range(Latest_Bank_Nifty.shape[0]):
    new_date = np.append(new_date, Bank_Nifty.Date.iloc[-1] + (i+1) * timedelta(days = 7))
    new_attribute = np.append(new_attribute, "Index Closing")
    new_closing  = np.append(new_closing, Latest_Bank_Nifty.Close.iloc[i])

new_row =pd.DataFrame({"Date": new_date, "Attribute": new_attribute, "Closing": new_closing})
Bank_Nifty = Bank_Nifty.append(new_row, ignore_index = True, sort = False)

In [38]:
new_row

        Date      Attribute       Closing
0 2021-07-31  Index Closing  34584.351562
1 2021-08-07  Index Closing  35809.250000
2 2021-08-14  Index Closing  35809.250000

In [39]:
Bank_Nifty

          Date      Attribute       Closing
0   2010-01-02  Index Closing   9029.500000
1   2010-01-09  Index Closing   9160.700000
2   2010-01-16  Index Closing   8911.100000
3   2010-01-23  Index Closing   8772.650000
4   2010-01-30  Index Closing   8651.550000
..         ...            ...           ...
602 2021-07-17  Index Closing  35751.800000
603 2021-07-24  Index Closing  35034.400000
604 2021-07-31  Index Closing  34584.351562
605 2021-08-07  Index Closing  35809.250000
606 2021-08-14  Index Closing  35809.250000

[607 rows x 3 columns]

In [40]:
Bank_Nifty = Bank_Nifty[Bank_Nifty["Date"] >= Features.Date[0]]
Features["India_Vix"] = np.array(Vix.Close)
Features["PCT_Change_VIX"] = Features["India_Vix"].pct_change()

In [41]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,Frac_EMA55,Frac_EMA89,Frac_EMA144,Frac_EMA233,India_Vix,PCT_Change_VIX
0,2010-07-26,0.846154,0.083333,0.083333,0.041667,13.0,0.875000,0.875000,0.875000,0.875000,0.833333,0.833333,0.833333,0.833333,19.24,NaN
1,2010-08-02,2.428571,0.125000,0.083333,0.041667,7.0,0.833333,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000,18.94,-0.015593
2,2010-08-09,7.000000,0.291667,0.166667,0.041667,3.0,0.875000,0.916667,0.916667,0.916667,0.875000,0.875000,0.875000,0.875000,17.37,-0.082893
3,2010-08-16,3.800000,0.375000,0.250000,0.041667,5.0,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,16.74,-0.036269
4,2010-08-23,0.200000,0.041667,0.041667,0.041667,20.0,0.875000,0.916667,0.916667,0.916667,0.875000,0.875000,0.875000,0.875000,16.70,-0.002389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2021-07-12,1.000000,0.041667,0.041667,0.041667,12.0,0.541667,0.625000,0.750000,0.833333,0.833333,0.708333,0.416667,0.416667,12.94,0.070306
573,2021-07-19,0.263158,0.041667,0.041667,0.041667,19.0,0.250000,0.291667,0.625000,0.750000,0.791667,0.583333,0.416667,0.375000,11.71,-0.095054
574,2021-07-26,1.000000,0.041667,0.041667,0.041667,12.0,0.333333,0.500000,0.625000,0.708333,0.708333,0.625000,0.416667,0.375000,11.76,0.004270
575,2021-08-02,0.846154,0.083333,0.041667,0.041667,13.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000,12.80,0.088435
576,2021-08-06,23.000000,0.041667,0.041667,0.041667,1.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000,12.61,-0.014844

In [43]:
today.day

7

In [44]:
if(today.day!= 7 and today.day!= 0 ):
    Features["Bank_Nifty"] = np.array(Bank_Nifty["Closing"][:-1])
else:
    Features["Bank_Nifty"] = np.array(Bank_Nifty["Closing"])    
Features["PCT_Change_Bank_Nifty"] = Features["Bank_Nifty"].pct_change()

In [51]:
Nifty50.shape

(577, 14)

In [52]:
Features.shape

(577, 18)

In [53]:
if(today.day!= 7 and today.day!= 0 ):
    Nifty50 = Nifty50[:-1]

In [54]:
Nifty50.shape

(577, 14)

In [55]:

#Features = Features.drop(Features.index[-1])
Features["PCT_Change_Nifty"] = np.array(Nifty50["Close"].pct_change())

In [56]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,Frac_EMA55,Frac_EMA89,Frac_EMA144,Frac_EMA233,India_Vix,PCT_Change_VIX,Bank_Nifty,PCT_Change_Bank_Nifty,PCT_Change_Nifty
0,2010-07-26,0.846154,0.083333,0.083333,0.041667,13.0,0.875000,0.875000,0.875000,0.875000,0.833333,0.833333,0.833333,0.833333,19.24,NaN,10161.000000,NaN,NaN
1,2010-08-02,2.428571,0.125000,0.083333,0.041667,7.0,0.833333,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000,18.94,-0.015593,10383.650000,0.021912,0.013349
2,2010-08-09,7.000000,0.291667,0.166667,0.041667,3.0,0.875000,0.916667,0.916667,0.916667,0.875000,0.875000,0.875000,0.875000,17.37,-0.082893,10737.350000,0.034063,0.002362
3,2010-08-16,3.800000,0.375000,0.250000,0.041667,5.0,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,0.916667,16.74,-0.036269,11033.750000,0.027605,0.014407
4,2010-08-23,0.200000,0.041667,0.041667,0.041667,20.0,0.875000,0.916667,0.916667,0.916667,0.875000,0.875000,0.875000,0.875000,16.70,-0.002389,10727.450000,-0.027760,-0.022050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2021-07-12,1.000000,0.041667,0.041667,0.041667,12.0,0.541667,0.625000,0.750000,0.833333,0.833333,0.708333,0.416667,0.416667,12.94,0.070306,35751.800000,0.019384,0.014889
573,2021-07-19,0.263158,0.041667,0.041667,0.041667,19.0,0.250000,0.291667,0.625000,0.750000,0.791667,0.583333,0.416667,0.375000,11.71,-0.095054,35034.400000,-0.020066,-0.004230
574,2021-07-26,1.000000,0.041667,0.041667,0.041667,12.0,0.333333,0.500000,0.625000,0.708333,0.708333,0.625000,0.416667,0.375000,11.76,0.004270,34584.351562,-0.012846,-0.005865
575,2021-08-02,0.846154,0.083333,0.041667,0.041667,13.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000,12.80,0.088435,35809.250000,0.035418,0.030143
576,2021-08-06,23.000000,0.041667,0.041667,0.041667,1.0,0.416667,0.416667,0.625000,0.708333,0.750000,0.625000,0.375000,0.375000,12.61,-0.014844,35809.250000,0.000000,0.000000

In [57]:
Nifty50.shape[0]

577

In [58]:
Features = Features.drop(Features.index[0], axis= 0)

In [59]:
Nifty_EMA8 = np.array([])
Nifty_EMA13 = np.array([])
Nifty_EMA21 = np.array([])
Nifty_EMA34 = np.array([])
Nifty_EMA55 = np.array([])
Nifty_EMA89 = np.array([])
Nifty_EMA144 = np.array([])
Nifty_EMA233 = np.array([])

Nifty50 = Add_Indicators(Nifty50)
for i in range(0, Nifty50.shape[0] -1 ):
    if(Nifty50["Close"][i] > Nifty50["EMA8"][i]):
        Nifty_EMA8 = np.append(Nifty_EMA8, 1)
    else:
        Nifty_EMA8 = np.append(Nifty_EMA8, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA13"][i]):
        Nifty_EMA13 = np.append(Nifty_EMA13, 1)
    else:
        Nifty_EMA13 = np.append(Nifty_EMA13, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA21"][i]):
        Nifty_EMA21 = np.append(Nifty_EMA21, 1)
    else:
        Nifty_EMA21 = np.append(Nifty_EMA21, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA34"][i]):
        Nifty_EMA34 =  np.append(Nifty_EMA34, 1)
    else:
        Nifty_EMA34 = np.append(Nifty_EMA34, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA55"][i]):
        Nifty_EMA55 = np.append(Nifty_EMA55, 1)
    else:
        Nifty_EMA55 = np.append(Nifty_EMA55, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA89"][i]):
        Nifty_EMA89 = np.append(Nifty_EMA89, 1)
    else:
        Nifty_EMA89 = np.append(Nifty_EMA89, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA144"][i]):
        Nifty_EMA144 = np.append(Nifty_EMA144, 1)
    else:
        Nifty_EMA144 = np.append(Nifty_EMA144, 0)

    if(Nifty50["Close"][i] > Nifty50["EMA233"][i]):
        Nifty_EMA233 = np.append(Nifty_EMA233, 1)
    else:
        Nifty_EMA233 = np.append(Nifty_EMA233, 0)
   
Features["Nifty_EMA8"]   = Nifty_EMA8
Features["Nifty_EMA13"]  = Nifty_EMA13
Features["Nifty_EMA21"]  = Nifty_EMA21
Features["Nifty_EMA34"]  = Nifty_EMA34
Features["Nifty_EMA55"]  = Nifty_EMA55
Features["Nifty_EMA89"]  = Nifty_EMA89
Features["Nifty_EMA144"] = Nifty_EMA144
Features["Nifty_EMA233"] = Nifty_EMA233

<ipython-input-4-cab7c2579e92>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA8"]  = EMA8.ema_indicator()
<ipython-input-4-cab7c2579e92>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA13"]  = EMA13.ema_indicator()
<ipython-input-4-cab7c2579e92>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA21"]  = EMA21.ema_indicator()
<ipython-input-4-cab7c2579e92>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA34"] = EMA34.ema_indicator()
<ipython-input-4-cab7c2579e92>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA55"] = EMA55.ema_indicator()
<ipython-input-4-cab7c2579e92>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA89"]  = EMA89.ema_indicator()
<ipython-input-4-cab7c2579e92>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA144"]  = EMA144.ema_indicator()
<ipython-input-4-cab7c2579e92>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["EMA233"]  = EMA233.ema_indicator()

In [60]:
Features.shape

(576, 27)

In [61]:
Features.to_excel("Features.xlsx")

In [62]:
Features = pd.read_excel("Features.xlsx", index_col=0)

In [63]:
Features = Features.reset_index(drop = True)

In [64]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,...,PCT_Change_Bank_Nifty,PCT_Change_Nifty,Nifty_EMA8,Nifty_EMA13,Nifty_EMA21,Nifty_EMA34,Nifty_EMA55,Nifty_EMA89,Nifty_EMA144,Nifty_EMA233
0,2010-08-02,2.428571,0.125000,0.083333,0.041667,7,0.833333,0.875000,0.875000,0.875000,...,0.021912,0.013349,0,0,0,0,0,0,0,0
1,2010-08-09,7.000000,0.291667,0.166667,0.041667,3,0.875000,0.916667,0.916667,0.916667,...,0.034063,0.002362,1,1,1,1,1,1,1,1
2,2010-08-16,3.800000,0.375000,0.250000,0.041667,5,0.916667,0.916667,0.916667,0.916667,...,0.027605,0.014407,1,1,1,1,1,1,1,1
3,2010-08-23,0.200000,0.041667,0.041667,0.041667,20,0.875000,0.916667,0.916667,0.916667,...,-0.027760,-0.022050,1,1,1,1,1,1,1,1
4,2010-08-30,5.000000,0.250000,0.041667,0.083333,4,0.916667,0.916667,0.916667,0.916667,...,0.024586,0.013071,0,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,2021-07-12,1.000000,0.041667,0.041667,0.041667,12,0.541667,0.625000,0.750000,0.833333,...,0.019384,0.014889,1,1,1,1,1,1,1,1
572,2021-07-19,0.263158,0.041667,0.041667,0.041667,19,0.250000,0.291667,0.625000,0.750000,...,-0.020066,-0.004230,1,1,1,1,1,1,1,1
573,2021-07-26,1.000000,0.041667,0.041667,0.041667,12,0.333333,0.500000,0.625000,0.708333,...,-0.012846,-0.005865,1,1,1,1,1,1,1,1
574,2021-08-02,0.846154,0.083333,0.041667,0.041667,13,0.416667,0.416667,0.625000,0.708333,...,0.035418,0.030143,1,1,1,1,1,1,1,1
575,2021-08-06,23.000000,0.041667,0.041667,0.041667,1,0.416667,0.416667,0.625000,0.708333,...,0.000000,0.000000,1,1,1,1,1,1,1,1

In [65]:
labels = np.array([])
for i in range(0, Features.shape[0]):
    if(Features["PCT_Change_Bank_Nifty"][i] <= -0.015):
        labels = np.append(labels, 0)

    if(Features["PCT_Change_Bank_Nifty"][i] > -0.015 and Features["PCT_Change_Bank_Nifty"][i] <= 0.015 ):
        labels = np.append(labels, 1)
    
    if(Features["PCT_Change_Bank_Nifty"][i] >=  0.015 ):
        labels = np.append(labels, 2)

In [66]:
len(labels)

576

In [67]:
Features.head()

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,...,PCT_Change_Bank_Nifty,PCT_Change_Nifty,Nifty_EMA8,Nifty_EMA13,Nifty_EMA21,Nifty_EMA34,Nifty_EMA55,Nifty_EMA89,Nifty_EMA144,Nifty_EMA233
0,2010-08-02,2.428571,0.125000,0.083333,0.041667,7,0.833333,0.875000,0.875000,0.875000,...,0.021912,0.013349,0,0,0,0,0,0,0,0
1,2010-08-09,7.000000,0.291667,0.166667,0.041667,3,0.875000,0.916667,0.916667,0.916667,...,0.034063,0.002362,1,1,1,1,1,1,1,1
2,2010-08-16,3.800000,0.375000,0.250000,0.041667,5,0.916667,0.916667,0.916667,0.916667,...,0.027605,0.014407,1,1,1,1,1,1,1,1
3,2010-08-23,0.200000,0.041667,0.041667,0.041667,20,0.875000,0.916667,0.916667,0.916667,...,-0.027760,-0.022050,1,1,1,1,1,1,1,1
4,2010-08-30,5.000000,0.250000,0.041667,0.083333,4,0.916667,0.916667,0.916667,0.916667,...,0.024586,0.013071,0,0,1,1,1,1,1,1

In [68]:
#Features = Features.drop(Features.index[0])

In [69]:
Features["Labels"] = labels

In [70]:
Features

,Date,AD_Ratio,5%_Up,8%_Up,13%_Up,Down,Frac_EMA8,Frac_EMA13,Frac_EMA21,Frac_EMA34,...,PCT_Change_Nifty,Nifty_EMA8,Nifty_EMA13,Nifty_EMA21,Nifty_EMA34,Nifty_EMA55,Nifty_EMA89,Nifty_EMA144,Nifty_EMA233,Labels
0,2010-08-02,2.428571,0.125000,0.083333,0.041667,7,0.833333,0.875000,0.875000,0.875000,...,0.013349,0,0,0,0,0,0,0,0,2.0
1,2010-08-09,7.000000,0.291667,0.166667,0.041667,3,0.875000,0.916667,0.916667,0.916667,...,0.002362,1,1,1,1,1,1,1,1,2.0
2,2010-08-16,3.800000,0.375000,0.250000,0.041667,5,0.916667,0.916667,0.916667,0.916667,...,0.014407,1,1,1,1,1,1,1,1,2.0
3,2010-08-23,0.200000,0.041667,0.041667,0.041667,20,0.875000,0.916667,0.916667,0.916667,...,-0.022050,1,1,1,1,1,1,1,1,0.0
4,2010-08-30,5.000000,0.250000,0.041667,0.083333,4,0.916667,0.916667,0.916667,0.916667,...,0.013071,0,0,1,1,1,1,1,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,2021-07-12,1.000000,0.041667,0.041667,0.041667,12,0.541667,0.625000,0.750000,0.833333,...,0.014889,1,1,1,1,1,1,1,1,2.0
572,2021-07-19,0.263158,0.041667,0.041667,0.041667,19,0.250000,0.291667,0.625000,0.750000,...,-0.004230,1,1,1,1,1,1,1,1,0.0
573,2021-07-26,1.000000,0.041667,0.041667,0.041667,12,0.333333,0.500000,0.625000,0.708333,...,-0.005865,1,1,1,1,1,1,1,1,1.0
574,2021-08-02,0.846154,0.083333,0.041667,0.041667,13,0.416667,0.416667,0.625000,0.708333,...,0.030143,1,1,1,1,1,1,1,1,2.0
575,2021-08-06,23.000000,0.041667,0.041667,0.041667,1,0.416667,0.416667,0.625000,0.708333,...,0.000000,1,1,1,1,1,1,1,1,1.0

In [71]:
Features.to_excel("Features.xlsx")